.table-container {
  margin-top: 25px;
}

.loading-container {
  display: flex;
  justify-content: center;
}

th , td {
  border: 1px solid yellow;
  color: rgb(117, 111, 111);
  border-radius: 15px;
  padding: 15px;
}

th {
  font-weight: 700;
}
