table , th , td {
  border: 1px solid black;
  text-transform: capitalize;
  width: 100%;
}

.essa2 {
  display: flex;
  margin: 5px;
  text-transform: capitalize;
  width: fit-content;
}

.essa2 > p , button {
  margin: 2px;
}

.container-header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: fit-content;
}

.container-header#text {
  display: flex;
  justify-content: space-between;
}
