.flexy-saved-filters {
  display: flex;
  justify-content: space-around;
}

.saved-filters-container {
  border: 2px solid black;
  border-radius: 6px;
  margin-top: 10px;
  padding: 0 1%;
  text-align: center;
}

.saved-filters-title {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0;
  text-align: center;
}

.saved-filters-text {
  margin: 10px 0;
  text-align: center;
}
