.mainContainer {
  width: 100%;
}

.title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.error {
  border: 2px solid crimson;
  font-size: 32px;
  text-align: center;
}

.containerTable {
  table-layout: fixed;
  width: 100%;
}

.tableData , .tableHeader {
  border: 3px solid black;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 0 2px;
  text-align: center;
  word-wrap: break-word;
}
