.App {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 8px;
}

th {
  padding: 15px;
}

td {
  padding: 10px;
}

input, select {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background: transparent;
  border: transparent;
  color: #808080;
  margin: 15px;
  width: 130px;
  font-size: 15px;
}

button {
  background: transparent;
  border: transparent;
  color: red;
}

.filter, .sorting {
  display: flex;
}
